* {
    font-family: "Manrope", sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.separator {
    margin: 150px 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

body {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 15px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
}

header .container-title .title {
    font-size: 15px;
    font-weight: 800;
}

header .container-menu .container-mobile {
    display: none;
}

header .container-menu .container-mobile button {
    border: none;
    background: none;
}

header .container-menu .container-mobile button i {
    font-size: 15px;
}

header .container-menu .list-links {
    gap: 15px;
}

header .container-menu .list-links li .link {
    font-size: 15px;
    text-transform: uppercase;
}

header .container-menu .list-links li .link:hover,
footer .container-main .list-links .link:hover,
footer .container-main .list-contact i:hover {
    color: #6D8A9A;
    transition: 0.5s;
}

.container-start {
    align-items: flex-start;
    justify-content: flex-start;
    margin: 150px 0;
    gap: 30px;
}

.container-start .container-article {
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
}

.container-start .container-article .separator {
    width: 150px;
    margin: 0;
}

.container-start .container-article .container-info {
    align-items: flex-start;
    flex-direction: column;
    gap: 15px;
}

.container-start .container-article .container-info .job {
    font-size: 15px;
    color: white;
    padding: 2.5px 10px;
    background-color: black;
    border-radius: 4px;
}

.container-start .container-article .container-info .description {
    font-size: 18px;
}

.container-start .container-article .container-bottom {
    gap: 15px;
}

.container-start .container-article .container-bottom .button-bottom {
    width: 40px;
    height: 40px;
    border: none;
    color: white;
    font-size: 18px;
    border-radius: 6px;
    background-color: black;
}

.container-start .container-article .container-bottom .description {
    font-size: 18px;
}

.container-start .container-banner .banner {
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.container-projects {
    align-items: flex-start;
    flex-direction: column;
    gap: 30px;
}

.container-projects .container-main {
    display: grid;
    align-items: start;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
}

.container-projects .container-main .container-box {
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}

.container-projects .container-main .container-box .background {
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
    border-radius: 6px;
}

.container-projects .container-main .container-box .background .banner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.container-projects .container-main .container-box .background .topic {
    position: relative;
    top: 30px;
    left: 15px;
    z-index: 1000;
    padding: 10px 20px;
    border-radius: 24px;
    font-size: 15px;
    background-color: whitesmoke;
}

.container-projects .container-main .container-box .description {
    font-size: 18px;
    color: #666666;
}

.container-services {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 60px;
}

.container-services .container-article {
    gap: 30px;
    grid-column: span 2;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}

.container-services .container-article .description {
    font-size: 15px;
}

.container-services .container-article .separator {
    width: 150px;
    margin: 0;
}

.container-services .container-article .blank-blog {
    font-size: 18px;
    border-radius: 6px;
    padding: 20px 40px;
    border: none;
    color: white;
    background-color: black;
}

.container-services .container-timeline {
    display: flex;
    gap: 15px;
    grid-column: span 1;
}

.container-services .container-timeline .container-line,
.container-services .container-timeline .container-line .horizontal-separator {
    height: 100%;
}

.container-services .container-timeline .container-details {
    gap: 15px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.container-services .container-timeline .container-details article {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.container-services .container-timeline .container-details article .title {
    font-size: 18px;
}

.container-services .container-timeline .container-details article .desc {
    font-size: 15px;
    color: #666666;
}

.container-contacts {
    flex-direction: column;
    margin: 150px 0;
}

.container-contacts .container-main {
    flex-direction: column;
    gap: 15px;
}

.container-contacts .container-main .desc {
    font-size: 18px;
    text-align: center;
}

.container-contacts .container-main .list-contact {
    gap: 30px;
}

.container-contacts .container-main .list-contact li .link {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.container-contacts .container-main .list-contact li .link i {
    font-size: 18px;
    width: 50px;
    height: 50px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
}

.container-contacts .container-main .list-contact li .link .desc {
    font-size: 18px;
    font-weight: 800;
}

footer {
    padding-bottom: 30px;
}

footer .container-main {
    flex-direction: column;
    gap: 15px;
}

footer .container-main .section-title .title {
    font-size: 15px;
}

footer .container-main .list-links,
footer .container-main .list-contact {
    gap: 15px;
}

footer .container-main .list-links .link,
footer .container-main .list-contact i {
    font-size: 15px;
}

@media (max-width: 900px) {
    h1 {
        font-size: 24px;
    }

    .container-start .container-banner .banner {
        width: 250px;
        height: 250px;
    }

    .container-projects .container-main .container-box .background {
        height: 250px;
    }

    .container-services {
        display: flex;
    }
}

@media (max-width: 800px) {
    header .container-menu .container-mobile {
        display: block;
    }

    header .container-menu .list-links {
        display: none;
    }
}

@media (max-width: 700px) {
    .separator {
        margin: 100px 0;
    }

    h1 {
        font-size: 22px;
    }

    header .container-title .title,
    header .container-menu .container-mobile button {
        font-size: 18px;
    }

    .container-start {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        margin: 100px 0;
        gap: 50px;
    }

    .container-start .container-article {
        align-items: center;
        padding: 0 80px;
    }

    .container-start .container-article .container-info {
        align-items: center;
    }

    .container-start .container-article .title,
    .container-start .container-article .description {
        text-align: center;
    }

    .container-projects .container-main {
        gap: 30px;
    }

    .container-projects .container-main .container-box .background {
        height: 200px;
    }

    .container-projects .container-main .container-box .title {
        font-size: 20px;
    }
}

@media (max-width: 650px) {
    .container-start .container-article {
        padding: 0 25px;
    }
}

@media (max-width: 600px) {
    .container-start .container-article {
        padding: 0;
    }

    .container-projects .container-main {
        display: flex;
        flex-direction: column;
    }

    .container-projects .container-main .container-box .background {
        width: 100%;
        height: 250px;
    }

    .container-services .container-article .blank-blog {
        padding: 15px 20px;
    }
}

@media (max-width: 550px) {
    .container-start {
        align-items: center;
    }

    .container-start .container-article {
        align-items: flex-start;
        justify-content: flex-start;
    }

    .container-start .container-article .container-info {
        align-items: flex-start;
    }

    .container-start .container-article .title,
    .container-start .container-article .description {
        text-align: left;
    }

    .container-services {
        flex-direction: column;
    }

    .container-services .container-timeline .container-line {
        height: auto;
    }

}

@media (max-width: 500px) {
    .container-start .container-article .separator {
        width: 100px;
    }

    .container-start .container-article .container-info .description {
        font-size: 16px;
    }
}